In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Lady Gaga,Optimist,"It's over!, \r\nIt's over!. \r\n \r\nYou're..."
1,Dan Fogelberg,Below The Surface,Some people tell you \r\nThey're trapped in t...
2,Air Supply,More Than Natural,Love I'll help you to see \r\nThe world is ou...
3,Incognito,A Shade Of Blue,A lifetime waiting for the light to shine \r\...
4,Reo Speedwagon,I Want To Know What Love Is,I gotta take a little time \r\nA little time ...
5,Nazareth,If You See My Baby,If you see my baby \r\nWith another man \r\n...
6,Norah Jones,Wurlitzer Prize (I Don't Want To Get Over You),Don't want to get over you \r\nI'm not here t...
7,Incubus,Massacre Of The Unborn,No survive \r\nUnborn child \r\nCut to piece...
8,Adele,Turning Tables,Close enough to start a war \r\nAll that I ha...
9,Roxy Music,If It Takes All Night,Oh here it comes again \r\nThat old ennui \r...

In [9]:
df['text'][0]

"It's over!,  \r\nIt's over!.  \r\n  \r\nYou're like the definition of negative  \r\nAlways complainin, you're such a pessimist  \r\nYour Cup is half empty  \r\nI'm just so sick of it  \r\nI got a different perspective  \r\n  \r\nMy Cup is half full  \r\nMy Sky is never gray  \r\nYou can't bring be down anymore baby  \r\nMy future is bright  \r\nCan't wait to face the day  \r\nThere's one thing you should know about me  \r\n  \r\nI'm an optimist  \r\nI'm so positive  \r\nThat you'll never get another chance with me baby  \r\nI'm an optimist  \r\nI'm so positive  \r\nThat your chances blown, boy you're gone, spread your negativity.  \r\n  \r\n(I'm an optimist, op-optimist, op-optimist)  \r\n  \r\nYou're such a downer, You're never satisfied  \r\nLucky for me, there's always a silver line  \r\nOn the horizon, so boy don't even try  \r\nInjectin me with your negative vibes  \r\n  \r\nMy cup is half full  \r\nMy sky is never gray  \r\nYou can't bring be down anymore baby  \r\nMy future is bright  \r\nCan't wait to face the day  \r\nThere's one thing you should know about me  \r\n  \r\nI'm an optimist  \r\nI'm so positive  \r\nThat you'll never get another chance with me baby  \r\nI'm an optimist  \r\nI'm so positive  \r\nThat your chances blown, boy you're gone, spread your negativity.  \r\n  \r\nI'm an optimist.  \r\nI'm spontaneous.  \r\nI need fun and excitement, ready set.  \r\nHere I come, Take the world by storm.  \r\nGrab life by the horns, While I'm still young.  \r\nAnd If you wanna act old, If you wanna be cold.  \r\nHmmm, I guess but baby you should know oh, oh, oh, oh  \r\n  \r\nI'm an optimist  \r\nI'm so positive  \r\nThat you'll never get another chance with me baby  \r\nI'm an optimist  \r\nI'm so positive  \r\nThat your chances blown, boy you're gone, spread your negativity.  \r\n  \r\nI'm an optimist, op-optimist, op-optimist x3  \r\nI'm a I'm a-a-I'm-a-I'm an optimist  \r\n  \r\nI'm an optimist  \r\nI'm so positive  \r\nThat you'll never get another chance with me baby  \r\nI'm an optimist  \r\nI'm so positive  \r\nThat your chances blown, boy you're gone, spread your negativity.  \r\n  \r\nI'm an optimist, op-optimist, op-optimist x3  \r\nI'm a I'm a-a-I'm-a-I'm an optimist\r\n\r\n"

In [10]:
# df = df.sample(5000)

In [11]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [14]:
 df['text'] =df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

0       it's over!,  \r it's over!.  \r   \r you're li...
1       some people tell you  \r they're trapped in th...
2       love i'll help you to see  \r the world is our...
3       a lifetime waiting for the light to shine  \r ...
4       i gotta take a little time  \r a little time t...
                              ...
4995    there's a time for all our innocence  \r when ...
4996    when i am down and, oh my soul, so weary  \r w...
4997    body  \r body  \r   \r touched by the toil and...
4998    when i find myself in times of trouble, mother...
4999    written by james young  \r lead vocals by jame...
Name: text, Length: 5000, dtype: object

In [16]:
df.tail(5)

,artist,song,text
4995,Yngwie Malmsteen,Cry No More,there's a time for all our innocence \r when ...
4996,Selah,You Raise Me Up,"when i am down and, oh my soul, so weary \r w..."
4997,Alice Cooper,Black Juju,body \r body \r \r touched by the toil and...
4998,The Beatles,Let It Be,"when i find myself in times of trouble, mother..."
4999,Styx,Double Life,written by james young \r lead vocals by jame...

In [13]:
df['text'][0]

"it's over!,  \r it's over!.  \r   \r you're like the definition of negative  \r always complainin, you're such a pessimist  \r your cup is half empty  \r i'm just so sick of it  \r i got a different perspective  \r   \r my cup is half full  \r my sky is never gray  \r you can't bring be down anymore baby  \r my future is bright  \r can't wait to face the day  \r there's one thing you should know about me  \r   \r i'm an optimist  \r i'm so positive  \r that you'll never get another chance with me baby  \r i'm an optimist  \r i'm so positive  \r that your chances blown, boy you're gone, spread your negativity.  \r   \r (i'm an optimist, op-optimist, op-optimist)  \r   \r you're such a downer, you're never satisfied  \r lucky for me, there's always a silver line  \r on the horizon, so boy don't even try  \r injectin me with your negative vibes  \r   \r my cup is half full  \r my sky is never gray  \r you can't bring be down anymore baby  \r my future is bright  \r can't wait to face the day  \r there's one thing you should know about me  \r   \r i'm an optimist  \r i'm so positive  \r that you'll never get another chance with me baby  \r i'm an optimist  \r i'm so positive  \r that your chances blown, boy you're gone, spread your negativity.  \r   \r i'm an optimist.  \r i'm spontaneous.  \r i need fun and excitement, ready set.  \r here i come, take the world by storm.  \r grab life by the horns, while i'm still young.  \r and if you wanna act old, if you wanna be cold.  \r hmmm, i guess but baby you should know oh, oh, oh, oh  \r   \r i'm an optimist  \r i'm so positive  \r that you'll never get another chance with me baby  \r i'm an optimist  \r i'm so positive  \r that your chances blown, boy you're gone, spread your negativity.  \r   \r i'm an optimist, op-optimist, op-optimist x3  \r i'm a i'm a-a-i'm-a-i'm an optimist  \r   \r i'm an optimist  \r i'm so positive  \r that you'll never get another chance with me baby  \r i'm an optimist  \r i'm so positive  \r that your chances blown, boy you're gone, spread your negativity.  \r   \r i'm an optimist, op-optimist, op-optimist x3  \r i'm a i'm a-a-i'm-a-i'm an optimist\r \r "

In [28]:
import nltk

# Download the 'punkt' resource
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\dbhan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [30]:
import nltk
from nltk.stem.porter import PorterStemmer

In [31]:
stemmer = PorterStemmer()

In [34]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [36]:
text = "you are beautiful, beauty"
result = token(text)
print(result)

you are beauti , beauti

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [42]:
df['text'].apply(lambda x: token(x))

0       it 's over ! , it 's over ! . you 're like the...
1       some peopl tell you they 're trap in the dista...
2       love i 'll help you to see the world is our it...
3       a lifetim wait for the light to shine suddenli...
4       i got ta take a littl time a littl time to thi...
                              ...
4995    there 's a time for all our innoc when the tea...
4996    when i am down and , oh my soul , so weari whe...
4997    bodi bodi touch by the toil and plung into hi ...
4998    when i find myself in time of troubl , mother ...
4999    written by jame young lead vocal by jame young...
Name: text, Length: 5000, dtype: object

In [39]:
df['text'] = df['text'].apply(lambda x: token(x))

In [43]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [44]:
matrix

<5000x17514 sparse matrix of type '<class 'numpy.float64'>'
	with 276080 stored elements in Compressed Sparse Row format>

In [45]:
cosine_similarity(matrix)

array([[1.        , 0.01767   , 0.02272783, ..., 0.00544365, 0.00691377,
        0.01718178],
       [0.01767   , 1.        , 0.07329946, ..., 0.05249932, 0.00603188,
        0.03400172],
       [0.02272783, 0.07329946, 1.        , ..., 0.00485172, 0.08138741,
        0.03062132],
       ...,
       [0.00544365, 0.05249932, 0.00485172, ..., 1.        , 0.01424187,
        0.01099163],
       [0.00691377, 0.00603188, 0.08138741, ..., 0.01424187, 1.        ,
        0.00807258],
       [0.01718178, 0.03400172, 0.03062132, ..., 0.01099163, 0.00807258,
        1.        ]])

In [46]:
similarity[0]

array([1.        , 0.01767   , 0.02272783, ..., 0.00544365, 0.00691377,
       0.01718178])

In [67]:
df.head(5)

,artist,song,text
0,Lady Gaga,Optimist,"it 's over ! , it 's over ! . you 're like the..."
1,Dan Fogelberg,Below The Surface,some peopl tell you they 're trap in the dista...
2,Air Supply,More Than Natural,love i 'll help you to see the world is our it...
3,Incognito,A Shade Of Blue,a lifetim wait for the light to shine suddenli...
4,Reo Speedwagon,I Want To Know What Love Is,i got ta take a littl time a littl time to thi...

In [50]:
df[df['song'] == 'Cry No More'].index[0]

4995

Recommender function

In [69]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    song = []
    for m_id in distances[1:21]:
        song.append(df.iloc[m_id[0]].song)
        
    return song

In [70]:
recommendation('Cry No More')

['Cry, Cry, Cry',
 'Cry',
 'I Cry',
 'Crying',
 "It's All Over But The Crying",
 'Not A Second Time',
 'Cry Me A River',
 'Everyday I Have To Cry',
 "Don't Cry Baby",
 'I Am Going',
 'Sad Movies',
 'Fool',
 'No Woman',
 "I'm Gonna Break Your Heart",
 "I've Got A Right To Cry",
 'Devil May Cry',
 'Cry Like A Man',
 "Don't Come Cryin' To Me",
 'Behind The Smile',
 'A Lovely Place To Cry']

In [71]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))